td,
th {
    padding: 5px;
}

th {
    text-transform: uppercase;
}

.person--female {
    background-color: lightpink;
}

.person--father {
    background-color: cornflowerblue;
}

.person--before {
    text-decoration: line-through;
}

.person--after {
    font-weight: bold;
}