td,
th {
    padding: 5px;
}

th {
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: top;
    background-color: bisque;
}

th:hover {
    background-color: aquamarine;
}

.person--female {
    background-color: lightpink;
}

.person--father {
    background-color: cornflowerblue;
}

.person--before {
    text-decoration: line-through;
}

.person--after {
    font-weight: bold;
}

.clicked {
    border: 2px solid blue;
}